/* Global Styles */

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

/* Main Styles */

body {
	color: rgba(68, 68, 68, 0.6);
}

h4 {
	font-size: 15px;
}

header {
	grid-area: header;
	display: grid;
	grid-template-columns: 1.5fr 0.6fr auto;
	grid-template-rows: auto;
	background-color: #7477bf;
	color: #ffffff;
}

/* Page Styles */

.grid-container {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto;

	grid-template-areas:
		'header'
		'navigation'
		'main';
}

.notif-header {
	text-align: center;
}

.profile-img-container {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
	border-left: rgba(80, 78, 78, 0.5) 1px solid;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 10px;
}

.profile-image {
	border-radius: 50%;
	width: 32px;
	height: 32px;
	align-self: center;
	justify-self: end;
}

.app-title {
	justify-self: start;
	align-self: center;
	padding-left: 10px;
	font-size: 22px;
	font-weight: 100;
}

.navigation {
	grid-area: navigation;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 45px;
	background-color: #4d4c72;
	justify-items: center;
	align-items: center;
}

.navigation a:first-child {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	justify-items: center;
	align-items: center;
	height: 100%;
	width: 100%;
	border-bottom: 4px solid rgb(3, 223, 3);
}

.profile-name {
	align-self: center;
	justify-self: end;
	padding-left: 8px;
	padding-right: 10px;
	font-size: 18px;
	font-weight: 500;
}

.main-container {
	grid-area: main;
	display: grid;
}

.widget-container-full,
.widget-container-half {
	width: 95vw;
	border-bottom: 1px solid rgba(80, 78, 78, 0.2);
	padding-bottom: 10px;
	padding-top: 10px;
}

.dashboard {
	display: grid;
	grid-template-columns: 160px 1.3fr;
	grid-template-rows: 60px 100px;
	grid-template-areas:
		'headline search'
		'alert alert';
}

.headline {
	grid-area: headline;
	justify-self: center;
	align-self: center;
}

.icon {
	position: absolute;
	color: #7477bf;
	top: 17%;
	right: 15px;
	padding: 10px;
	min-width: 40px;
}

.dashboard-search {
	grid-area: search;
	position: relative;
	justify-self: end;
	align-self: center;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	background-color: #fbfbfb;
	width: 100%;
	height: 100%;
	border-left: 1px solid rgba(80, 78, 78, 0.2);
	border-bottom: 1px solid rgba(80, 78, 78, 0.2);
}

.search-bar {
	margin-right: 15px;
	padding-left: 10px;
	justify-self: end;
	align-self: center;
	border: 1px solid rgba(80, 78, 78, 0.3);
	width: 250px;
	height: 35px;
	border-radius: 5px;
}

.search-bar::placeholder {
	color: rgba(80, 78, 78, 0.3);
}

.alert {
	grid-area: alert;
	justify-self: center;
	align-self: center;
	background-color: #7477bf;
	color: white;
	height: 50px;
	border-radius: 4px;
	width: 95vw;
}

.alert-banner {
	display: grid;
	grid-template-columns: 1fr 40px;
	grid-template-rows: auto;
}

.alert-banner-message {
	justify-self: start;
	align-self: center;
	padding-left: 10px;
}

.alert-banner-close {
	justify-self: center;
	align-self: center;
	cursor: pointer;
}

.new-members {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
}

.member-header {
	padding-left: 10px;
	justify-self: start;
	align-self: center;
}

.new-members-container {
	display: grid;
	grid-template-columns: 0.3fr 1.5fr 1fr;
	grid-template-rows: 30px 30px;
	border-bottom: 1px solid rgba(80, 78, 78, 0.2);
	margin-bottom: 5px;
	padding-bottom: 10px;
	padding-top: 10px;

	grid-template-areas:
		'profile-image name date'
		'profile-image email date';
}

.member-image {
	border-radius: 50%;
	width: 32px;
	height: 32px;
	grid-area: profile-image;
	justify-self: center;
	align-self: center;
}

.member-name {
	grid-area: name;
	font-weight: 500;
	justify-self: start;
	align-self: center;
}

.member-email {
	grid-area: email;
	color: #7477bf;
	text-decoration: none;
	justify-self: start;
	align-self: flex-start;
}

.member-date {
	grid-area: date;
	justify-self: center;
	align-self: center;
}

.recent-activity {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
}

.activity-container {
	display: grid;
	grid-template-columns: 0.3fr 2fr 0.3fr;
	grid-template-rows: 30px 30px;
	border-bottom: 1px solid rgba(80, 78, 78, 0.2);
	margin-bottom: 5px;
	padding-bottom: 10px;
	padding-top: 10px;

	grid-template-areas:
		'profile-image status arrow'
		'profile-image time arrow';
}

.activity-header {
	padding-left: 10px;
	justify-self: start;
	align-self: center;
}

.activity-status {
	grid-area: status;
	font-weight: 400;
	line-height: 1.2;
	justify-self: start;
	align-self: center;
}

.activity-time {
	grid-area: time;
	justify-self: start;
	align-self: center;
}

.arrow {
	grid-area: arrow;
	font-size: 32px;
	font-weight: 200;
	color: #7477bf;
	justify-self: center;
	align-self: center;
}

.message {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	border-bottom: 1px solid rgba(80, 78, 78, 0.2);
	margin-bottom: 5px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.message-header {
	padding-left: 10px;
	justify-self: start;
	align-self: center;
}

.message-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
}

.form-field {
	width: 75%;
	height: 50px;
	padding-left: 10px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	justify-self: center;
	align-self: center;
	background-color: #fbfbfb;
	border: 1px solid rgba(80, 78, 78, 0.2);
}

.form-area {
	width: 75%;
	height: 140px;
	padding-left: 10px;
	padding-top: 10px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	resize: none;
	justify-self: center;
	align-self: center;
	background-color: #fbfbfb;
	border: 1px solid rgba(80, 78, 78, 0.2);
}

.form-field::placeholder,
.form-area::placeholder {
	color: rgba(80, 78, 78, 0.3);
}

.button-primary {
	width: 75%;
	height: 80px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	justify-self: center;
	align-self: center;
	background-color: #7477bf;
	color: white;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

.button-disabled {
	width: 75%;
	height: 80px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	justify-self: center;
	align-self: center;
	background-color: rgba(121, 121, 121, 0.6);
	color: white;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

.settings {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
}

.settings-header {
	padding-left: 10px;
	justify-self: start;
	align-self: center;
}

.settings-button {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
}

.send-email {
	display: grid;
	padding-left: 30px;
	grid-template-columns: 0.8fr 1fr;
	grid-template-rows: auto;
	align-items: center;
}

.set-profile {
	display: grid;
	padding-left: 30px;
	grid-template-columns: 0.8fr 1fr;
	grid-template-rows: auto;
	align-items: center;
}

#timezone {
	color: rgba(80, 78, 78, 0.3);
}

/* SVG Styles */

.social-image {
	display: inline-block;
	width: 20px;
	height: 20px;
	fill: #104b48;
}

.bell {
	align-self: center;
	justify-self: end;
	margin: 0;
	transition: transform 0.7s ease-in-out;
	transform-origin: center;
	cursor: pointer;
}

.nav-img {
	width: 25px;
	height: 25px;
}

.st0 {
	fill: #ffffff;
}

.bell:hover {
	transform: scale(1.2);
}

/* Chart Styles */

.traffic {
	display: grid;
	grid-template-columns: 100px 1fr;
	grid-template-rows: auto;

	grid-template-areas:
		'header nav'
		'traffic-chart traffic-chart';
}

.chart-header {
	grid-area: header;
	padding-left: 10px;
	justify-self: start;
	align-self: center;
}

.traffic-nav {
	grid-area: nav;
	padding-right: 15px;
	list-style-type: none;
	justify-self: end;
	align-self: center;
}

.traffic-nav-link {
	display: inline;
	padding: 6px 10px;
	text-align: center;
}

.traffic-nav-link + .active {
	background-color: rgba(42, 165, 42, 0.6);
	color: white;
	text-align: center;
	border-radius: 50px;
}

#traffic-chart {
	grid-area: traffic-chart;
	justify-self: center;
	align-self: center;
	width: 100%;
	height: 100%;
}

#daily-chart {
	justify-self: center;
	align-self: center;
	width: 100%;
	height: 100%;
}

#mobile-chart {
	justify-self: center;
	align-self: center;
	width: 100%;
	height: 100%;
}

/* Social Button Styles */

.social-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	border-bottom: 1px solid rgba(80, 78, 78, 0.2);
	padding-bottom: 15px;

	grid-template-areas:
		'social-header'
		'twitter'
		'facebook'
		'google';
}

.social-image {
	grid-area: social-icon;
	background-color: #7477bf;
	border-radius: 50%;
	width: 75px;
	height: 75px;
	justify-self: center;
	align-self: center;
}

.social-name {
	grid-area: name;
	color: #7477bf;
	display: inline;
	align-self: flex-start;
	justify-self: start;
}

.social-stats {
	grid-area: stats;
	color: rgba(68, 68, 68, 0.8);
	font-weight: 300;
	font-size: 45px;
	display: inline;
	align-self: center;
	justify-self: start;
}

.social-header {
	grid-area: social-header;
	padding-left: 10px;
	justify-self: start;
	align-self: center;
}

.twitter-box {
	grid-area: twitter;
	justify-self: center;
	align-self: center;
	width: 60vw;
	padding: 12px 15px;
	margin-bottom: 15px;
	background-color: #fbfbfb;
	border: 1px solid rgba(80, 78, 78, 0.2);

	display: grid;
	grid-template-columns: 0.8fr 1fr;
	grid-template-rows: 35px 50px;

	grid-template-areas:
		'social-icon name'
		'social-icon stats';
}

.facebook-box {
	grid-area: facebook;
	justify-self: center;
	align-self: center;
	width: 60vw;
	padding: 12px 15px;
	margin-bottom: 15px;
	background-color: #fbfbfb;
	border: 1px solid rgba(80, 78, 78, 0.2);

	display: grid;
	grid-template-columns: 0.8fr 1fr;
	grid-template-rows: 35px 50px;

	grid-template-areas:
		'social-icon name'
		'social-icon stats';
}

.google-box {
	grid-area: google;
	justify-self: center;
	align-self: center;
	width: 60vw;
	padding: 12px 15px;
	margin-bottom: 15px;
	background-color: #fbfbfb;
	border: 1px solid rgba(80, 78, 78, 0.2);

	display: grid;
	grid-template-columns: 0.8fr 1fr;
	grid-template-rows: 35px 50px;

	grid-template-areas:
		'social-icon name'
		'social-icon stats';
}

/* Media Queries */

@media (min-width: 768px) {
	.grid-container {
		grid-template-columns: 55px 1fr;
		grid-template-areas:
			'header header'
			'navigation main';
	}

	.main-container {
		grid-template-columns: 1fr;
		grid-template-rows: auto;

		grid-template-areas:
			'dashboard'
			'traffic'
			'traffic-and-users'
			'social-stats';
	}

	.navigation {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 60px);
	}

	.navigation a:first-child {
		border-left: 4px solid rgb(3, 223, 3);
		border-bottom: none;
	}

	.widget-container-full {
		width: 100vw;
		padding: 10px;
	}

	.widget-container-half {
		width: 50vw;
		padding: 10px;
	}

	.dashboard {
		grid-area: dashboard;
	}
	.traffic {
		padding: 0 10px;
		grid-area: traffic;
	}

	.traffic-and-users {
		display: grid;
		padding: 0 10px;
		grid-area: traffic-and-users;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
	}

	.daily {
		border-right: rgba(80, 78, 78, 0.2) 1px solid;
	}
}

@media (min-width: 1024px) {
	.alert {
		width: 95%;
	}

	.widget-container-full {
		width: 100vw;
		padding: 10px;
	}

	.widget-container-half {
		width: 50vw;
		padding: 10px;
	}

	.social-container {
		grid-area: social-stats;
		padding: 0 10px;
		grid-template-columns: 0.5fr 0.5fr 0.5fr;
		grid-template-rows: 45px 150px;

		grid-template-areas:
			'social-header social-header social-header'
			'twitter-box facebook-box google-box';
	}

	.social-header {
		grid-area: social-header;
	}

	.twitter-box {
		grid-area: twitter-box;
		width: 300px;
	}

	.facebook-box {
		grid-area: facebook-box;
		width: 300px;
	}

	.google-box {
		grid-area: google-box;
		width: 300px;
	}

	.members-and-activity {
		padding: 0 10px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
	}

	.new-members {
		border-right: rgba(80, 78, 78, 0.2) 1px solid;
	}

	.message-and-settings {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
	}

	.message {
		padding: 0 10px;
		margin-bottom: 0;
		border-right: rgba(80, 78, 78, 0.2) 1px solid;
		border-bottom: none;
	}

	.message-container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}

	.form-area,
	.form-field {
		width: 95%;
		justify-self: start;
	}

	#send {
		width: 95%;
		justify-self: start;
	}

	.settings {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 72px 70px 70px 75px 100px;
		padding: 0 10px;

		grid-template-areas:
			'header header'
			'send-email send-email'
			'set-profile set-profile'
			'timezone timezone'
			'button button';
	}

	.settings-header {
		grid-area: header;
	}

	.send-email {
		grid-area: send-email;
		padding-left: 10px;
	}

	.set-profile {
		grid-area: set-profile;
		padding-left: 10px;
	}

	#timezone {
		grid-area: timezone;
		justify-self: start;
		margin-left: 10px;
		margin-bottom: 10px;
		width: 97%;
	}

	.settings-button {
		display: grid;
		grid-area: button;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
	}

	#save {
		justify-self: start;
		align-self: center;
		width: 95%;
	}

	#cancel {
		justify-self: start;
		align-self: center;
		width: 95%;
	}
}
